
.button {
	padding: 10px;
	display: flex;
	border-radius: 4px;
	color: #fff;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	transition: background-color .2s;
	
	&--blue {
		background-color: $blue;
		
		&:hover {
			background-color: darken($blue, 20%);
		}
	}

	&--red {
		background-color: $red;
		
		&:hover {
			background-color: darken($red, 20%);
		}
	}
	
	&--icon {
		border-radius: 50%;
		width: 40px;

		&:hover {
			background-color: rgba(33, 150, 243, 0.08);
		}
	}

	&__icon {
		width: 20px;
	}
}
