.item-form {
	margin-bottom: 20px;

	&__edit-element {
		display: none;
	}
	&__fields {
		display: flex;
	}

	&__file-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #ccc;
		cursor: pointer;
		margin-right: 20px;
		position: relative;
		overflow: hidden;
	}

	&__file-wrapper:hover &__file-change {
		opacity: 1;
	}

	&__file-change {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30px;
		text-align: center;
		background-color: rgba(#000,.5);
		opacity: 0;
		color: #fff;
		transition: opacity .15s;
	}

	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	&__picture[src=""] {
		display: none;
	}

	&__picture[src]:not([src=""]) + &__picture-icon {
		display: none;
	}

	&__picture-icon {
		width: 40px;

	}

	&__file {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__description {
		padding: 6px;
		border-bottom: 1px solid $lightGrey;
		transition: border-bottom .3s;
		margin-right: 5px;
		font-size: 15px;
		flex-grow: 1;
		resize: none;

		&:hover,
		&:focus {
			border-bottom: 1px solid $black;
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
	}

	&--edit & {
		&__edit-element {
			display: block;
		}
		&__submit-new {
			display: none;
		}

		&__cancel {
			margin-right: 10px;
		}
	}
}
