
.item {
	border-bottom: 1px solid $grey;
	padding: 8px 0;
	font-size: 14px;
	color: $black;
	display: flex;
	align-items: center;

	&:first-child {
		border-top: 1px solid $grey;
	}

	&__img {
		width: 100px;
		height: 100px;
		margin-right: 10px;
		border-radius: 100px;
		object-fit: cover;
		flex-shrink: 0;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}

	&__delete {
		margin-top: 5px;
	}
}
