* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
li {
	list-style: none;
}
button {
	background: none;
	outline: 0;
	cursor: pointer;
	padding: 0;
	margin: 0;
	border: 0;
}
button {
	color: inherit;
}
button,
input,
textarea {
	font: inherit;
}

input:focus,
textarea:focus {
	outline: none;
}
