@import 'variables';
@import 'reset';
@import 'button';
@import 'item-form';
@import 'item';

.title {
	color: $blue;
	padding-top: 10px;
	margin-bottom: 20px;
}

.main {
	background-color: #fff;
	padding: 20px;
	width: 500px;
	max-width: 100%;
}
.total {
	margin-bottom: 10px;
}